@model WebService.Models.Book
@{
	ViewBag.Title = "Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
	input, select {
		color: gray;
	}
</style>
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="~/Admin/ListBook">Admin</a><i class="fa fa-angle-right"></i>Thêm sách</li>
</ol>
<div class="col-md-5 grid-form1">
	<form action="~/Book/Add" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label class="col-md-4 control-label">Hình ảnh:</label>
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon" style="width: 35px;">
						<i class="fa fa-envelope"></i>
					</span>
					<input type="file" name="file" id="file" style="width: 200px;">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Tên sách:</label>
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon" style="width: 35px;">
						<i class="fa fa-book"></i>
					</span>
					<input type="text" name="Name" id="Name" style="width: 204px;">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Nhà xuất bản:</label>
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon" style="width: 35px;">
						<i class="fa fa-user-alt"></i>
					</span>
					<input type="text" name="PublishingCompany" id="PublishingCompany" style="width: 204px;">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Ngày xuất bản:</label>
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon" style="width: 35px;">
						<i class="fa fa-calendar-alt"></i>
					</span>
					<input type="date" name="PublishingDate" id="PublishingDate" style="width: 204px; color: gray;">
				</div>
			</div>


		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Kích thước:</label>
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon" style="width: 35px;">
						<i class="fa fa-info-circle"></i>
					</span>
					<input type="text" name="Size" id="Size" style="width: 204px;">
				</div>
			</div>


		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Số trang:</label>
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon" style="width: 35px;">
						<i class="fa fa-info-circle"></i>
					</span>
					<input type="text" name="NumberOfPages" id="NumberOfPages" style="width: 204px;">
				</div>
			</div>


		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Loại bìa:</label>
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon" style="width: 35px;">
						<i class="fa fa-info-circle"></i>
					</span>
					<input type="text" name="CoverType" id="CoverType" style="width: 204px;">
				</div>
			</div>


		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Loại sách:</label>
			<div class="col-md-8">
				<div class="input-group" style="width: 300px;">
					<span class="input-group-addon" style="width: 35px;">
						<i class="fa fa-book"></i>
					</span>
					@Html.DropDownListFor(model => model.BookTypeID, new SelectList(Model.BookTypeCollection, "ID", "Name") )
				</div>
			</div>


		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Tác giả:</label>
			<div class="col-md-8">
				<div class="input-group" style="width: 300px;" >
					<span class="input-group-addon" style="width: 35px;" >
						<i class="fa fa-user-check"></i>
					</span>
					 @Html.DropDownListFor(model => model.AuthorID, new SelectList(Model.AuthorCollection, "ID", "Name"), "Select")
				</div>
			</div>


		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Giá:</label>
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon" style="width: 35px;">
						<i class="fa fa-dollar-sign"></i>
					</span>
					<input type="text" name="Price" id="Price" style="width: 204px;">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label">Giảm giá:</label>
			<div class="col-md-8">
				<div class="input-group">
					<span class="input-group-addon" style="width: 35px;">
						<i class="fa fa-comment-dollar"></i>
					</span>
					<input type="text" name="Discount" id="Discount" style="width: 204px;">
				</div>
			</div>
		</div>
		<div class="form-group">
			<input class="btn btn-success" type="submit" value="Thêm sách">
		</div>
</form>
</div>

<div class="grid-form1 col-md-11">
			<h2>Danh sách sách</h2>
			<table id="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Tên sách</th>
						<th>Giá</th>
						<th>Giá đã giảm</th>
						<th>Tác giả</th>
						<th>Loại sách</th>
						<th>Số lượng tồn</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var book in ViewBag.ListBook)
					{
					<tr>
						<td>@book.ID</td>
						<td>@book.Name</td>
						<td>@book.Price</td>
						<td>@book.ReducePrice</td>
						<td>@book.Author.Name</td>
						<td>@book.BookType.Name</td>
						<td>@book.Count</td>
					</tr>
					}
				</tbody>
			</table>

</div>

