@{
    ViewBag.Title = "BookDetail";
}
<div class="bend niceties preview-1">

    <div id="ensign-nivoslider" class="slides">

        <img src="~/Content/template/img/BGR1.jpg" alt="" title="#slider-direction-1" />
        <img src="~/Content/template/img/BGR2.jpg" alt="" title="#slider-direction-2" />
        <img src="~/Content/template/img/BGR3.jpg" alt="" title="#slider-direction-2" />
    </div>
    <!-- direction 1 -->
    <div id="slider-direction-1" class="text-center slider-direction">
        <!-- layer 1 -->
        <div class="layer-1">
            <h2 class="title-1">THANH TOÁN</h2>
        </div>
        <!-- layer 2 -->
        <!-- layer 3 -->
        <!-- layer 4 -->
    </div>
    <!-- direction 2 -->
</div>

<!-- Single Product Area Start -->
<div class="single-product-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 mb--30">

                <div class="product-details-slider sb-slick-slider arrow-type-two" data-slick-setting='{
                  "slidesToShow": 1,
                  "arrows": false,
                  "fade": true,
                  "draggable": false,
                  "swipe": false,
                  "asNavFor": ".product-slider-nav"
                  }'>
                    <div class="single-slide">
                        <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                    </div>
                    @*<div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>*@
                </div>

                <div class="mt--30 product-slider-nav sb-slick-slider arrow-type-two" data-slick-setting='{
                "infinite":true,
                  "autoplay": true,
                  "autoplaySpeed": 8000,
                  "slidesToShow": 4,
                  "arrows": true,
                  "prevArrow":{"buttonClass": "slick-prev","iconClass":"fa fa-chevron-left"},
                  "nextArrow":{"buttonClass": "slick-next","iconClass":"fa fa-chevron-right"},
                  "asNavFor": ".product-details-slider",
                  "focusOnSelect": true
                  }'>
                    @*<div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>*@
                </div>
            </div>
            <div class="col-md-6 col-sm-5">
                <div class="single-product-details">
                    <div class="list-pro-rating">
                        <i class="fa fa-star icolor"></i>
                        <i class="fa fa-star icolor"></i>
                        <i class="fa fa-star icolor"></i>
                        <i class="fa fa-star icolor"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h2>@ViewBag.book.Name</h2>
                    <div class="single-product-price">
                        <h2>$@ViewBag.book.ReducePrice</h2>
                        <del class="price-old">$@ViewBag.book.Price</del>
                    </div>
                    <div class="product-attributes clearfix">
                        <form action="~/Cart/AddCart" method="post" enctype="multipart/form-data">
                            <span class="pull-left" id="quantity-wanted-p">
                                <span class="dec qtybutton">-</span>
                                <input type="number" name="Count" id="Count" value="1" class="cart-plus-minus-box">
                                <span class="inc qtybutton">+</span>
                            </span>
                            <span>
                                <input type="hidden" id="BookId" name="BookId" value="@ViewBag.Book.ID" />
                                <input class="cart-btn btn-default" type="submit" value="Add to cart" />
                            </span>
                        </form>
                    </div>
                    @*<div class="add-to-cart-row">
                            <form action="~/Cart/AddCart" method="post" enctype="multipart/form-data">
                                <div class="count-input-block">
                                    <span class="widget-label">Số lượng</span>
                                    <input type="number" id="Count" name="Count" class="form-control text-center" value="1">
                                </div>

                                <div class="add-cart-btn">
                                    <input type="hidden" id="BookId" name="BookId" value="@ViewBag.Book.ID" />
                                    <input class="btn btn-outlined--primary" />
                                </div>
                            </form>
                        </div>*@
                    <div class="single-product-categories">
                        <label>Categories:</label>
                        <a>@ViewBag.Book.BookType.Name</a>
                    </div>
                    <div class="social-share">
                        <label>Share: </label>
                        <ul class="social-share-icon">
                            <li><a href="#"><i class="flaticon-social"></i></a></li>
                            <li><a href="#"><i class="flaticon-social-1"></i></a></li>
                            <li><a href="#"><i class="flaticon-social-2"></i></a></li>
                        </ul>
                    </div>
                    <div id="product-comments-block-extra">
                        <ul class="comments-advices">
                            <li>
                                <a href="#" class="open-comment-form">Write a review</a>
                            </li>
                        </ul>
                    </div>
                    @*<table class="table-data-sheet">
                            <tbody>
                                <tr class="odd">
                                    <td>Mã sách</td>
                                    <td>@ViewBag.book.ID</td>
                                </tr>
                                <tr class="odd">
                                    <td>Thể loại</td>
                                    <td>@ViewBag.book.BookType.Name</td>
                                </tr>
                                <tr class="even">
                                    <td>Nhà xuất bản</td>
                                    <td>@ViewBag.book.PublishingCompany</td>
                                </tr>
                                <tr class="odd">
                                    <td>Tác giả</td>
                                    <td>@ViewBag.book.Author.Name</td>
                                </tr>
                                <tr class="odd">
                                    <td>Ngày xuất bản</td>
                                    <td>@ViewBag.book.PublishingDate</td>
                                </tr>
                                <tr class="odd">
                                    <td>Kích cỡ</td>
                                    <td>@ViewBag.book.Size</td>
                                </tr>
                                <tr class="odd">
                                    <td>Số trang/td>
                                    <td>@ViewBag.book.NumberOfPages</td>
                                </tr>
                                <tr class="odd">
                                    <td>Còn lại</td>
                                    <td>@ViewBag.book.Count</td>
                                </tr>
                            </tbody>
                        </table>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="p-details-tab-content">
                    <div class="p-details-tab">
                        <ul class="p-details-nav-tab" role="tablist">
                            <li role="presentation" class="active"><a href="#more-info" aria-controls="more-info" role="tab" data-toggle="tab">Review</a></li>
                            <li role="presentation"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Information</a></li>
                            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Tab</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tab-content review">
                        <div role="tabpanel" class="tab-pane" id="data">
                            <table class="table-data-sheet">
                                <tbody>
                                    <tr class="odd">
                                        <td>Mã sách</td>
                                        <td>@ViewBag.book.ID</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Thể loại</td>
                                        <td>@ViewBag.book.BookType.Name</td>
                                    </tr>
                                    <tr class="even">
                                        <td>Nhà xuất bản</td>
                                        <td>@ViewBag.book.PublishingCompany</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Tác giả</td>
                                        <td>@ViewBag.book.Author.Name</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Ngày xuất bản</td>
                                        <td>@ViewBag.book.PublishingDate</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Kích cỡ</td>
                                        <td>@ViewBag.book.Size</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Số trang</td>
                                        <td>@ViewBag.book.NumberOfPages</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Còn lại</td>
                                        <td>@ViewBag.book.Count</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @*<div role="tabpanel" class="tab-pane" id="data">
                                <table class="table-data-sheet">
                                    <tbody>
                                        <tr class="odd">
                                            <td>Mã sách</td>
                                            <td>Short Sleeve</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Thể loại</td>
                                            <td>@ViewBag.book.BookType.Name</td>
                                        </tr>
                                        <tr class="even">
                                            <td>Nhà xuất bản</td>
                                            <td>@ViewBag.book.PublishingCompany</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Tác giả</td>
                                            <td>@ViewBag.book.Author.Name</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Ngày xuất bản</td>
                                            <td>@ViewBag.book.PublishingDate</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Kích cỡ</td>
                                            <td>@ViewBag.book.Size</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Số trang/td>
                                            <td>@ViewBag.book.NumberOfPages</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>Còn lại</td>
                                            <td>@ViewBag.book.Count</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>*@
                        @*<div role="tabpanel" class="tab-pane" id="reviews">
                                <div id="product-comments-block-tab">
                                    <a href="#" class="comment-btn"><span>Be the first to write your review!</span></a>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Product Area End -->

<div class="related-product-area">
    <h2 class="section-title" style="margin-bottom:0px;">RELATED PRODUCTS</h2>
    <div class="container">
        <div class="row">
            <div class="related-product indicator-style">
                @foreach (var item in ViewBag.ListBook)
                {
                <div class="col-md-3" style="width: 100px;margin-left: 10px;margin-right: 0px;padding-left: 0px;padding-right: 0px;">
                    <div class="single-banner" style="width: 202px;">
                        <div class="product-wrapper">
                            <a href="#" class="single-banner-image-wrapper">
                                <img alt="" src="~/Content/UploadedFiles/@item.Image">
                                <span class="price">$@item.ReducePrice</span>
                                <del class="price-old">$@item.Price</del>
                                <span class="price-discount">@item.Discount%</span>
                                <div class="rating-icon">
                                    <i class="fa fa-star icolor"></i>
                                    <i class="fa fa-star icolor"></i>
                                    <i class="fa fa-star icolor"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </a>
                            <div class="product-description">
                                <div class="functional-buttons">
                                    <a href="#" title="Add to Cart">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                    <a href="#" title="Add to Wishlist">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                    <a href="#" title="Quick View">
                                        <i class="fa fa-compress"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="banner-bottom text-center">
                            <a href="/Book/Detail/@item.ID">@item.Name</a>
                        </div>
                    </div>
                </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- Related Product Area End -->
@*<main class="inner-page-sec-padding-bottom">
        <div class="container">
            <div class="row  mb--60">
                <div class="col-lg-5 mb--30">

                    <div class="product-details-slider sb-slick-slider arrow-type-two" data-slick-setting='{
                  "slidesToShow": 1,
                  "arrows": false,
                  "fade": true,
                  "draggable": false,
                  "swipe": false,
                  "asNavFor": ".product-slider-nav"
                  }'>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                    </div>

                    <div class="mt--30 product-slider-nav sb-slick-slider arrow-type-two" data-slick-setting='{
                "infinite":true,
                  "autoplay": true,
                  "autoplaySpeed": 8000,
                  "slidesToShow": 4,
                  "arrows": true,
                  "prevArrow":{"buttonClass": "slick-prev","iconClass":"fa fa-chevron-left"},
                  "nextArrow":{"buttonClass": "slick-next","iconClass":"fa fa-chevron-right"},
                  "asNavFor": ".product-details-slider",
                  "focusOnSelect": true
                  }'>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                        <div class="single-slide">
                            <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="product-details-info pl-lg--30 ">

                        <h3 class="product-title">@ViewBag.book.Name</h3>

                        <ul class="list-unstyled">
                            <li>Thể loại: <a href="#" class="list-value font-weight-bold">@ViewBag.book.BookType.Name</a></li>
                            <li>Nhà xuất bản: <a href="#" class="list-value font-weight-bold">@ViewBag.book.PublishingCompany</a></li>
                            <li>Mã sách: <span class="list-value"> @ViewBag.book.ID</span></li>
                            <li>Tác giả: <span class="list-value"> @ViewBag.book.Author.Name</span></li>
                            <li>Ngày xuất bản: <span class="list-value"> @ViewBag.book.PublishingDate</span></li>
                            <li>Kích cỡ: <span class="list-value"> @ViewBag.book.Size</span></li>
                            <li>Số trang: <span class="list-value">@ViewBag.book.NumberOfPages</span></li>
                            <li>Còn lại: <span class="list-value"> @ViewBag.book.Count</span></li>
                        </ul>
                        <div class="price-block">
                            <span class="price-new">@ViewBag.book.Price</span>
                            <del class="price-old">@ViewBag.book.ReducePrice</del>
                        </div>
                        <div class="rating-widget">
                            <div class="rating-block">
                                <span class="fas fa-star star_on"></span>
                                <span class="fas fa-star star_on"></span>
                                <span class="fas fa-star star_on"></span>
                                <span class="fas fa-star star_on"></span>
                                <span class="fas fa-star "></span>
                            </div>
                            <div class="review-widget">
                                <a href="">(1 Reviews)</a> <span>|</span>
                                <a href="">Write a review</a>
                            </div>
                        </div>
                        <article class="product-details-article">
                            <h4 class="sr-only">Product Summery</h4>
                            <p>
                                Long printed dress with thin adjustable straps. V-neckline and wiring under the Dust
                                with ruffles at the bottom of the
                                dress.
                            </p>
                        </article>
                        <div class="add-to-cart-row">
                            <form action="~/Cart/AddCart" method="post" enctype="multipart/form-data">
                                <div class="count-input-block">
                                    <span class="widget-label">Số lượng</span>
                                    <input type="number" id="Count" name="Count" class="form-control text-center" value="1">
                                </div>
                                <br />
                                <div class="add-cart-btn">
                                    <input type="hidden" id="BookId" name="BookId" value="@ViewBag.Book.ID" />
                                    <input class="btn btn-outlined--primary" type="submit" value="Đặt mua" />
                                </div>
                            </form>
                        </div>
                        <div class="compare-wishlist-row">
                            <a href="" class="add-link"><i class="fas fa-heart"></i>Add to Wish List</a>
                            <a href="" class="add-link"><i class="fas fa-random"></i>Add to Compare</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sb-custom-tab review-tab section-padding">
                <ul class="nav nav-tabs nav-style-2" id="myTab2" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab1" data-toggle="tab" href="#tab-1" role="tab"
                           aria-controls="tab-1" aria-selected="true">
                            DESCRIPTION
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab2" data-toggle="tab" href="#tab-2" role="tab"
                           aria-controls="tab-2" aria-selected="true">
                            REVIEWS (1)
                        </a>
                    </li>
                </ul>
                <div class="tab-content space-db--20" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                        <article class="review-article">
                            <h1 class="sr-only">Tab Article</h1>
                            <p>
                                Fashion has been creating well-designed collections since 2010. The brand offers
                                feminine designs delivering
                                stylish
                                separates and statement dresses which have since evolved into a full ready-to-wear
                                collection in which every
                                item is
                                a
                                vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful
                                elegance and unmistakable
                                signature
                                style. All the beautiful pieces are made in Italy and manufactured with the greatest
                                attention. Now Fashion
                                extends
                                to
                                a range of accessories including shoes, hats, belts and more!
                            </p>
                        </article>
                    </div>
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2">
                        <div class="review-wrapper">
                            <h2 class="title-lg mb--20">1 REVIEW FOR AUCTOR GRAVIDA ENIM</h2>
                            <div class="review-comment mb--20">
                                <div class="avatar">
                                    <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                                </div>
                                <div class="text">
                                    <div class="rating-block mb--15">
                                        <span class="ion-android-star-outline star_on"></span>
                                        <span class="ion-android-star-outline star_on"></span>
                                        <span class="ion-android-star-outline star_on"></span>
                                        <span class="ion-android-star-outline"></span>
                                        <span class="ion-android-star-outline"></span>
                                    </div>
                                    <h6 class="author">
                                        ADMIN – <span class="font-weight-400">March 23, 2015</span>
                                    </h6>
                                    <p>
                                        Lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio
                                        quis mi.
                                    </p>
                                </div>
                            </div>
                            <h2 class="title-lg mb--20 pt--15">ADD A REVIEW</h2>
                            <div class="rating-row pt-2">
                                <p class="d-block">Your Rating</p>
                                <span class="rating-widget-block">
                                    <input type="radio" name="star" id="star1">
                                    <label for="star1"></label>
                                    <input type="radio" name="star" id="star2">
                                    <label for="star2"></label>
                                    <input type="radio" name="star" id="star3">
                                    <label for="star3"></label>
                                    <input type="radio" name="star" id="star4">
                                    <label for="star4"></label>
                                    <input type="radio" name="star" id="star5">
                                    <label for="star5"></label>
                                </span>
                                <form action="./" class="mt--15 site-form ">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="message">Comment</label>
                                                <textarea name="message" id="message" cols="30" rows="10"
                                                          class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="name">Name *</label>
                                                <input type="text" id="name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="email">Email *</label>
                                                <input type="text" id="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="website">Website</label>
                                                <input type="text" id="website" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="submit-btn">
                                                <a href="#" class="btn btn-black">Post Comment</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="">
            <div class="container">
                <div class="section-title section-title--bordered">
                    <h2>RELATED PRODUCTS</h2>
                </div>
                <div class="product-slider sb-slick-slider slider-border-single-row" data-slick-setting='{
                    "autoplay": true,
                    "autoplaySpeed": 8000,
                    "slidesToShow": 4,
                    "dots":true
                }' data-slick-responsive='[
                    {"breakpoint":1200, "settings": {"slidesToShow": 4} },
                    {"breakpoint":992, "settings": {"slidesToShow": 3} },
                    {"breakpoint":768, "settings": {"slidesToShow": 2} },
                    {"breakpoint":480, "settings": {"slidesToShow": 1} }
                ]'>
                    <div class="single-slide">
                        <div class="product-card">
                            <div class="product-header">
                                <a href="" class="author">
                                    Lpple
                                </a>
                                <h3><a href="product-details.html">Revolutionize Your BOOK With</a></h3>
                            </div>
                            <div class="product-card--body">
                                <div class="card-image">
                                    <img src="~/Content/UploadedFiles/@ViewBag.book.Image" alt="">
                                    <div class="hover-contents">
                                        <a href="product-details.html" class="hover-image">
                                            <img src="image/products/product-1.jpg" alt="">
                                        </a>
                                        <div class="hover-btns">
                                            <a href="cart.html" class="single-btn">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html" class="single-btn">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a href="compare.html" class="single-btn">
                                                <i class="fas fa-random"></i>
                                            </a>
                                            <a href="#" data-toggle="modal" data-target="#quickModal"
                                               class="single-btn">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-block">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="product-card">
                            <div class="product-header">
                                <a href="" class="author">
                                    Jpple
                                </a>
                                <h3>
                                    <a href="product-details.html">Turn Your BOOK Into High Machine</a>
                                </h3>
                            </div>
                            <div class="product-card--body">
                                <div class="card-image">
                                    <img src="image/products/product-2.jpg" alt="">
                                    <div class="hover-contents">
                                        <a href="product-details.html" class="hover-image">
                                            <img src="image/products/product-1.jpg" alt="">
                                        </a>
                                        <div class="hover-btns">
                                            <a href="cart.html" class="single-btn">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html" class="single-btn">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a href="compare.html" class="single-btn">
                                                <i class="fas fa-random"></i>
                                            </a>
                                            <a href="#" data-toggle="modal" data-target="#quickModal"
                                               class="single-btn">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-block">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="product-card">
                            <div class="product-header">
                                <a href="" class="author">
                                    Wpple
                                </a>
                                <h3><a href="product-details.html">3 Ways Create Better BOOK With</a></h3>
                            </div>
                            <div class="product-card--body">
                                <div class="card-image">
                                    <img src="image/products/product-3.jpg" alt="">
                                    <div class="hover-contents">
                                        <a href="product-details.html" class="hover-image">
                                            <img src="image/products/product-2.jpg" alt="">
                                        </a>
                                        <div class="hover-btns">
                                            <a href="cart.html" class="single-btn">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html" class="single-btn">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a href="compare.html" class="single-btn">
                                                <i class="fas fa-random"></i>
                                            </a>
                                            <a href="#" data-toggle="modal" data-target="#quickModal"
                                               class="single-btn">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-block">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="product-card">
                            <div class="product-header">
                                <a href="" class="author">
                                    Epple
                                </a>
                                <h3>
                                    <a href="product-details.html">What You Can Learn From Bill Gates</a>
                                </h3>
                            </div>
                            <div class="product-card--body">
                                <div class="card-image">
                                    <img src="image/products/product-5.jpg" alt="">
                                    <div class="hover-contents">
                                        <a href="product-details.html" class="hover-image">
                                            <img src="image/products/product-4.jpg" alt="">
                                        </a>
                                        <div class="hover-btns">
                                            <a href="cart.html" class="single-btn">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html" class="single-btn">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a href="compare.html" class="single-btn">
                                                <i class="fas fa-random"></i>
                                            </a>
                                            <a href="#" data-toggle="modal" data-target="#quickModal"
                                               class="single-btn">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-block">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="product-card">
                            <div class="product-header">
                                <a href="" class="author">
                                    Hpple
                                </a>
                                <h3><a href="product-details.html">a Half Very Simple Things You To</a></h3>
                            </div>
                            <div class="product-card--body">
                                <div class="card-image">
                                    <img src="image/products/product-6.jpg" alt="">
                                    <div class="hover-contents">
                                        <a href="product-details.html" class="hover-image">
                                            <img src="image/products/product-4.jpg" alt="">
                                        </a>
                                        <div class="hover-btns">
                                            <a href="cart.html" class="single-btn">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html" class="single-btn">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a href="compare.html" class="single-btn">
                                                <i class="fas fa-random"></i>
                                            </a>
                                            <a href="#" data-toggle="modal" data-target="#quickModal"
                                               class="single-btn">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-block">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade modal-quick-view" id="quickModal" tabindex="-1" role="dialog"
             aria-labelledby="quickModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close modal-close-btn ml-auto" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="product-details-modal">
                        <div class="row">
                            <div class="col-lg-5">

                                <div class="product-details-slider sb-slick-slider arrow-type-two"
                                     data-slick-setting='{"slidesToShow": 1,"arrows": false,"fade": true,"draggable": false,"swipe": false,"asNavFor": ".product-slider-nav"}'>
                                    <div class="single-slide">
                                        <img src="image/products/product-details-1.jpg" alt="">
                                    </div>
                                    <div class="single-slide">
                                        <img src="image/products/product-details-2.jpg" alt="">
                                    </div>
                                    <div class="single-slide">
                                        <img src="image/products/product-details-3.jpg" alt="">
                                    </div>
                                    <div class="single-slide">
                                        <img src="image/products/product-details-4.jpg" alt="">
                                    </div>
                                    <div class="single-slide">
                                        <img src="image/products/product-details-5.jpg" alt="">
                                    </div>
                                </div>

                                <div class="mt--30 product-slider-nav sb-slick-slider arrow-type-two"
                                     data-slick-setting='{
                "infinite":true,
                  "autoplay": true,
                  "autoplaySpeed": 8000,
                  "slidesToShow": 4,
                  "arrows": true,
                  "prevArrow":{"buttonClass": "slick-prev","iconClass":"fa fa-chevron-left"},
                  "nextArrow":{"buttonClass": "slick-next","iconClass":"fa fa-chevron-right"},
                  "asNavFor": ".product-details-slider",
                  "focusOnSelect": true
                  }'>
                                    <div class="single-slide">
                                        <img src="image/products/product-details-1.jpg" alt="">
                                    </div>
                                    <div class="single-slide">
                                        <img src="image/products/product-details-2.jpg" alt="">
                                    </div>
                                    <div class="single-slide">
                                        <img src="image/products/product-details-3.jpg" alt="">
                                    </div>
                                    <div class="single-slide">
                                        <img src="image/products/product-details-4.jpg" alt="">
                                    </div>
                                    <div class="single-slide">
                                        <img src="image/products/product-details-5.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 mt--30 mt-lg--30">
                                <div class="product-details-info pl-lg--30 ">
                                    <p class="tag-block">Tags: <a href="#">Movado</a>, <a href="#">Omega</a></p>
                                    <h3 class="product-title">Beats EP Wired On-Ear Headphone-Black</h3>
                                    <ul class="list-unstyled">
                                        <li>Ex Tax: <span class="list-value"> £60.24</span></li>
                                        <li>Brands: <a href="#" class="list-value font-weight-bold"> Canon</a></li>
                                        <li>Product Code: <span class="list-value"> model1</span></li>
                                        <li>Reward Points: <span class="list-value"> 200</span></li>
                                        <li>Availability: <span class="list-value"> In Stock</span></li>
                                    </ul>
                                    <div class="price-block">
                                        <span class="price-new">£73.79</span>
                                        <del class="price-old">£91.86</del>
                                    </div>
                                    <div class="rating-widget">
                                        <div class="rating-block">
                                            <span class="fas fa-star star_on"></span>
                                            <span class="fas fa-star star_on"></span>
                                            <span class="fas fa-star star_on"></span>
                                            <span class="fas fa-star star_on"></span>
                                            <span class="fas fa-star "></span>
                                        </div>
                                        <div class="review-widget">
                                            <a href="">(1 Reviews)</a> <span>|</span>
                                            <a href="">Write a review</a>
                                        </div>
                                    </div>
                                    <article class="product-details-article">
                                        <h4 class="sr-only">Product Summery</h4>
                                        <p>
                                            Long printed dress with thin adjustable straps. V-neckline and wiring
                                            under the Dust with ruffles at the bottom
                                            of the
                                            dress.
                                        </p>
                                    </article>
                                    <div class="add-to-cart-row">
                                        <form action="~/Cash/AddCash" method="post" enctype="multipart/form-data">
                                            <div class="count-input-block">
                                                <span class="widget-label">Số lượng</span>
                                                <input type="number" id="Count" name="Count" class="form-control text-center" value="1">
                                            </div>

                                            <div class="add-cart-btn">
                                                <input type="hidden" id="BookId" name="BookId" value="@ViewBag.Book.ID" />
                                                <input class="btn btn-outlined--primary" type="submit" value="Đặt mua" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="compare-wishlist-row">
                                        <a href="" class="add-link"><i class="fas fa-heart"></i>Add to Wish List</a>
                                        <a href="" class="add-link"><i class="fas fa-random"></i>Add to Compare</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="widget-social-share">
                            <span class="widget-label">Share:</span>
                            <div class="modal-social-share">
                                <a href="#" class="single-icon"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="single-icon"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="single-icon"><i class="fab fa-youtube"></i></a>
                                <a href="#" class="single-icon"><i class="fab fa-google-plus-g"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>*@