@model WebCuaHangSach.Models.Book
@{
    ViewBag.Title = "ShopGrid";
}
<div class="bend niceties preview-1">

    <div id="ensign-nivoslider" class="slides">

        <img src="~/Content/template/img/BGR1.jpg" alt="" title="#slider-direction-1" />
        <img src="~/Content/template/img/BGR2.jpg" alt="" title="#slider-direction-2" />
        <img src="~/Content/template/img/BGR3.jpg" alt="" title="#slider-direction-2" />
    </div>
    <!-- direction 1 -->
    <div id="slider-direction-1" class="text-center slider-direction">
        <!-- layer 1 -->
        <div class="layer-1">
            <h2 class="title-1">SHOP</h2>
        </div>
        <!-- layer 2 -->
        <div class="layer-2">
            <p class="title-2">Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn.”</p>
        </div>
        <!-- layer 3 -->
        <div class="layer-3">
            <a href="#" class="title-3">SEE MORE</a>
        </div>
        <!-- layer 4 -->
        <div class="layer-4">
            <form action="~/Book/Search" class="title-4" method="post">
                <input type="text" name="Name" id="Name" placeholder="Nhập tên sách cần tìm">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <!-- direction 2 -->
    <div id="slider-direction-2" class="slider-direction">
        <!-- layer 1 -->
        <div class="layer-1">
            <h2 class="title-1">LET’S WRITE IMAGINE</h2>
        </div>
        <!-- layer 2 -->
        <div class="layer-2">
            <p class="title-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <!-- layer 3 -->
        <div class="layer-3">
            <a href="#" class="title-3">SEE MORE</a>
        </div>
        <!-- layer 4 -->
        <div class="layer-4">
            <form action="#" class="title-4">
                <input type="text" placeholder="Enter your book title here">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<main class="inner-page-sec-padding-bottom">
    <div class="container">

        <div class="shop-product-wrap grid with-pagination row space-db--30 shop-border">
            @foreach (var item in ViewBag.ListBook)
            {
            <div class="col-lg-4 col-sm-6">
                <div class="product-card">
                    <div class="product-grid-content">
                        <div class="product-header">
                            <h3>
                                <a href="/Book/Detail/@item.ID">@item.Name</a>
                            </h3>
                            <a href="" class="author">
                                @item.Author.Name
                            </a>
                        </div>
                        <div class="product-card--body">
                            <div class="card-image">
                                <img src="~/Content/UploadedFiles/@item.Image" alt="">
                                <div class="hover-contents">
                                    <a href="product-details.html" class="hover-image">
                                        <img src="image/products/product-1.jpg" alt="">
                                    </a>
                                    <div class="hover-btns">

                                        <a href="~/Cart/AddSingle/@item.ID" class="single-btn">
                                            <i class="fa fa-compress"></i>
                                        </a>
                                        <a href="~/Book/Detail/@item.ID" class="single-btn">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="price-block" style="width: 300px;">
                                <span class="price" style="top: -10px;left: 180px;right: 50px;padding-top: -1;height: 30px;bottom: 0px;width: 100px;top: -10px;top: 0px;margin-bottom: 0px;padding-bottom: 0px;padding-top: 0px;">$@item.ReducePrice</span>
                                <del class="price-old">$@item.Price</del>
                                <span class="price-discount">@item.Discount%</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-list-content">
                        <div class="card-image">
                            <img src="~/Content/UploadedFiles/@item.Image" alt="">
                        </div>
                        <div class="product-card--body">
                            <div class="product-header">
                                <a href="" class="author">
                                    Gpple
                                </a>
                                <h3><a href="product-details.html" tabindex="0">Qpple cPad with Retina Display MD510LL/A</a></h3>
                            </div>
                            <article>
                                <h2 class="sr-only">Card List Article</h2>
                                <p>
                                </p>
                            </article>
                            <div class="price-block">
                                <span class="price">@item.ReducePrice</span>
                                <del class="price-old">@item.Price</del>
                                <span class="price-discount">@item.Discount%</span>
                            </div>
                            <div class="rating-block">
                                <span class="fas fa-star star_on"></span>
                                <span class="fas fa-star star_on"></span>
                                <span class="fas fa-star star_on"></span>
                                <span class="fas fa-star star_on"></span>
                                <span class="fas fa-star "></span>
                            </div>
                            <div class="btn-block">
                                <a href="~/Account/Add" class="btn btn-outlined">Add To Cart</a>
                                <a href="" class="card-link"><i class="fas fa-heart"></i> Add To Wishlist</a>
                                <a href="" class="card-link"><i class="fas fa-random"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <!-- Pagination Block -->
        <div class="row pt--30">
            <div class="col-md-12">
                <div class="pagination-block">
                    <ul class="pagination-btns flex-center">
                        <li><a href="" class="single-btn prev-btn ">|<i class="fas fa-angle-double-left"></i> </a></li>
                        <li><a href="" class="single-btn prev-btn "><i class="fas fa-angle-left"></i> </a></li>
                        <li class="active"><a href="" class="single-btn">1</a></li>
                        <li><a href="" class="single-btn">2</a></li>
                        <li><a href="" class="single-btn">3</a></li>
                        <li><a href="" class="single-btn">4</a></li>
                        <li><a href="" class="single-btn next-btn"><i class="fas fa-angle-right"></i></a></li>
                        <li><a href="" class="single-btn next-btn"><i class="fas fa-angle-double-right"></i>|</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>