
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminMaxLayout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Admin</a><i class="fa fa-angle-right"></i>Thêm tài khoản</li>
</ol>
<div class="col-md-5 grid-form1">


    <div class="panel-body">
        <form role="form" action="~/AdminMax/Add" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">Username</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon" style="width: 42px;border-left-width: 2px;border-top-width: 2px;padding-top: 10px;">
                            <i class="fa fa-users"></i>
                        </span>
                        <input class="form-control1" type="text" name="UserName" id="UserName" style="width: 208px;">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon" style="width: 42px;border-left-width: 2px;border-top-width: 2px;padding-top: 10px;">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input class="form-control1" type="text" name="Password" id="Password" style="width: 208px;">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Quyền hạn</label>
                <div class="col-md-8">
                    <select name="RoleID" id="RoleID" class="form-control">
                        <option value="2" selected="selected">User</option>
                        <option value="1">Quản Lý</option>
                        <option value="3">Admin</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Họ</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon" style="width: 42px;border-left-width: 2px;border-top-width: 2px;padding-top: 10px;">
                            <i class="fa fa-portrait"></i>
                        </span>
                        <input class="form-control1" type="text" name="FirstName" id="FirstName"  style="width: 208px;">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Tên</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon" style="width: 42px;border-left-width: 2px;border-top-width: 2px;padding-top: 10px;">
                            <i class="fa fa-portrait"></i>
                        </span>
                        <input class="form-control1" type="text" name="LastName" id="LastName"  style="width: 208px;">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Email Address</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon" style="width: 42px;border-left-width: 2px;border-top-width: 2px;padding-top: 10px;">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input class="form-control1" type="text" name="Email" id="Email"  style="width: 208px;"">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Số điện thoại</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon" style="width: 42px;border-left-width: 2px;border-top-width: 2px;padding-top: 10px;">
                            <i class="fa fa-mobile"></i>
                        </span>
                        <input class="form-control1" type="text" name="PhoneNumber" id="PhoneNumber"  style="width: 208px;">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span class="text-info">@ViewBag.Message</span>
            </div>
            <div class="form-group">
                <label class="col-md-5"></label>
                <div class="col-md-2">
                    <input class="btn btn-primary btn-hover " value="Thêm tài khoản" type="submit" style="width: 208px;" />
                </div>

            </div>
        </form>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
       
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var acc in ViewBag.ListAccount)
                    {
                        <tr>
                            <td>@acc.FirstName @acc.LastName</td>
                            <td>@acc.Email</td>
                            <td>@acc.PhoneNumber</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@*<div class="grid-form1 col-md-7">
    <table id="table">
        <thead>
            <tr>
                <th>Họ và tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var acc in ViewBag.ListAccount)
            {
                <tr>
                    <td>@acc.FirstName @acc.LastName</td>
                    <td>@acc.Email</td>
                    <td>@acc.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>

</div>*@

